<h1 style="color: brown">Student</h1>
<h4>Id student:{{student.id}}</h4>

<h4>Name student:{{student.name}}</h4>
<input type="text" [(ngModel)]="student.name">

<h4>Address student:{{student.address}}</h4>
<input type="text" [(ngModel)]="student.address">

<h4>Age student:{{student.age}}</h4>
<input type="number" (change)="getAge($event.target.value)">

<h4>Mark student:{{student.mark}}</h4>
<input type="number" (change)="getMark($event.target.value)">

<h4>Avatar student:</h4>
<img [src]="student.avatar" class="img-thumbnail">
<input type="text" [(ngModel)]="student.avatar" >
